* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

/* Todo os conteudos dentro dessa div */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

/* Box com todo o conteudo do topo da pagina */
.box-superior {
  width: 100%;
  background-image: linear-gradient(rgb(18, 93, 231), rgb(97, 147, 240));
  color: #fff;
}

/* Barra de menu superior */
nav {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 124px;
  height: 34px;
}

.links-menu {
  text-align: center;
}

.links {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
}

.links:hover {
  text-decoration: underline;
}

.entrar div {
  width: 65px;
  height: 35px;
  background-color: #fff;
  color: #23272a;
  border-radius: 25px;
  text-align: center;
}

.entrar p {
  text-align: center;
  line-height: 35px;
  font-size: 10pt;
}

/* Conteudo central */
.main-box {
  width: 100%;
  height: 80vh;
  color: #fff;
  display: flex;
}

.img-esq {
  width: 25%;
  margin-top: 73px;
  background: url(../images/lateral_esq.svg) no-repeat right;
}

.img-dir {
  width: 25%;
  margin-top: 30px;
  background: url(../images/lateral_dir.svg) no-repeat left;
}

/* Box central */
.main-center-box {
  margin: 0 auto;
  margin-top: 100px;
  width: 60%;
}

.main-text-box {
  text-align: center;
  font-size: 13pt;
}

.main-text-box h1 {
  font-size: 40pt;
  display: block;
}

.main-text-box p {
  margin-top: 45px;
}

/* Dois links inferiores "baixar..." e "abrir...") */
.main-links {
  width: 100%;
  justify-content: center;
  display: flex;
  line-height: 24px;
}

.main-links .baixar-dc div,
.main-links .abrir-dc div {
  display: inline;
  border-radius: 28px;
  margin: 0 20px;
  padding: 16px 32px;
}

.baixar-dc .div-baixar {
  background-color: #fff;
  color: #23272a;
  float: left;
}

.baixar-dc:hover div,
.entrar:hover div {
  color: #7289da;
  -webkit-box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.abrir-dc,
.baixar-dc {
  margin-top: 24px;
}

.abrir-dc div {
  background-color: #23272a;
  color: #fff;
  float: right;
}

.abrir-dc:hover div {
  -webkit-box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.baixar-playstore {
  display: none;
}
/* Geral */
a {
  text-decoration: none;
}

/* media queries - design responsivo */

@media only screen and (max-width: 415px) {
  nav .links-menu,
  .entrar div,
  .img-dir,
  .img-esq,
  .abrir-dc,
  .baixar-dc {
    display: none;
    /* visibility: collapse; */
  }

  .main-center-box {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .main-text-box {
    text-align: left;
    font-size: 14pt;
  }

  .main-text-box h1 {
    line-height: normal;
    font-size: 36pt;
  }

  .main-text-box p {
    margin-top: 25px;
    line-height: 32px;
  }

  .baixar-playstore {
    background-color: #fff;
    color: #23272a;
    border-radius: 28px;
    display: flex;
    margin: 0 0 0 -40px;
    margin-top: 25px;
    padding: 16px 32px;
    font-size: 14pt;
  }

  /*.img-mobile {
    display: block;
  } */
}
